<%= form_for @contact, html: { class: 'form-horizontal', multipart: true } do |f| %>
<h1>Contact</h1>
<p>Mr.Suphawut Pitirit<br>
   salong_9999999@hotmail.com<br>
   suphawutK@gmail.com<br>
   Tel:(+66)080-621-1694
</p>
<% end %>