<li><%= link_to "All Blogs", blogs_path, class: "btn #{active_status_for 'blogs'}" %></li>
<% Group.all.each do |group| puts group%>
	<% if group.group_name == 'VIP Zone'%>
	<li><%= link_to group.group_name, photos_path,class: "btn #{active_status_for 'photos'}" %></li>
	<% else %>
	<li><%= link_to group.group_name, blogs_path(group_name: group.group_name),class: "btn #{'active' if params[:group_name] == group.group_name}" %></li>
	<% end %>
<% end %>
<li><%= link_to "Contact", blogs_path,class: "btn" %></li>
