<h1>BlogKing</h1>
<div class='row'>
    <div class='span12'>
        <div class="container-fluid">
    	   <div class="row-fluid">
    		  <div class="span2">
                    <body class="<%= body_class %>">
                        <%= render 'layouts/group' %>
                        <div class='container'>                  
                        <%= yield %>
                        </div>
                    </body>
    		  </div>
    		  <div class="span10">
    		      <div class="hero-unit">

                  </div>
    		  </div>
              </div>
    	   </div>
        </div>
    </div>
</div>
